@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Monofett&family=Montserrat+Subrayada:wght@400;700&family=Butcherman&family=Six+Caps&family=Nosifer&family=Faster+One&family=Berkshire+Swash&family=Black+Ops+One&family=Staatliches&display=swap');

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(https://cdn.wallpapersafari.com/96/34/R57Mjn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; ;
}

.card{
  margin-top: 15px ;
  margin-bottom: 15px;
  font-family: 'Staatliches', cursive;
  width: 200
 }

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: gray;
}

.team-text {
  font-family: 'Butcherman', cursive;
  color: white;
}

.hero-text {
  font-family: 'Megrim', cursive;
  color: white;
}

.value-text {
  font-family: 'Monofett', cursive;
  font-size: 60px;
  color: yellow;
}

.card-text {
  font-family: 'Staatliches', cursive;
  
}

.melee-text {
  font-family: 'Nosifer', cursive;
  color: darkred;
}

.mid-text {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: darkgreen;
}

.ranged-text {
  font-family: 'Faster One', cursive;
  font-size: 30px;
  color: purple;
}

.card-image {
  padding: 12px;
}

.hand-image {
  padding: 12px;
  
}

.title-background {
  background-color: yellow;
  
}

.name-color {
  color: black 
}

.game-container {
  background-color:black;
}

.melee-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: darkred;
  height: 290px;
  border: black
}

.mid-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: darkgreen;
  height: 290px;
  
}

.ranged-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: purple;
  height: 290px;
}

.welcome-container{
  height:100vh; 
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(https://cdn.wallpapersafari.com/96/34/R57Mjn.jpg);
}